<section id="venueDetails" *ngIf="venue">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img src="{{venue.image}}" alt="">
      </div>
      <div class="col-md-6">
        <bwm-map [location]="venue.city + ', ' + venue.street"></bwm-map>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <bwm-venue-detail-info [venue]=venue> </bwm-venue-detail-info>
      </div>
      <div class="col-md-4">
      <bwm-venue-detail-reservation [venue]=venue></bwm-venue-detail-reservation>
      </div>
    </div>
  </div>
</section>
