<section id="userReservations">
  <h1 class="page-title">My Reservations</h1>
  <div class="row">
    <ng-container *ngIf="reservations && reservations.length > 0">
      <div *ngFor="let reservation of reservations" class="col-md-4">
        <div class="card text-center">
          <div class="card-header">
            {{reservation.rental.category}}
          </div>
          <div class="card-block">
            <h4 class="card-title">{{reservation.rental.title}} - {{reservation.rental.city | ucwords}}</h4>
            <p class="card-text reservation-desc">{{reservation.rental.description}}</p>
            <p class="card-text reservation-days">{{reservation.startAt | formatDate}} - {{reservation.endAt | formatDate}} | {{reservation.days}} days</p>
            <p class="card-text reservation-price"><span>Price: </span> <span class="reservation-price-value">{{reservation.totalPrice}} $</span></p>
            <a class="btn btn-bwm" routerLink="/rentals/{{reservation.rental._id}}">Go te Rental</a>
          </div>
          <div class="card-footer text-muted">
            Created {{reservation.createdAt | formatDate}}
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="reservations && reservations.length == 0" class="alert alert-warning">
      You have no reservations created go to rentals section and book your place today.
      <a class="btn btn-bwm" routerLink="/rentals">Available Rentals</a>
    </div>
  </div>
</section>
