<div style="background-image: url('https://images.unsplash.com/photo-1458995511454-37bbe550c3f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e98f0be116d30fd71bb628db61e11a0d&auto=format&fit=crop&w=1567&q=80');color:white;background-size:cover;font-size:30px;" class="pull left">
  <img style="height:300px; border-radius:300px;text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;" src="{{user.avatarUrl}}">
  {{user.dietaryCategory}} |
  {{user.username}} |
    {{user.email}} |
    {{user.bio}}

</div>
  <div class="venue-owner">
    
  </div>

