<section id="userReservations">
  <h1 class="page-title">My Reservations</h1>
  <div class="row">
    <ng-container *ngIf="reservations && reservations.length > 0">
      <div *ngFor="let reservation of reservations" class="col-md-4">
        <div class="card text-center">
          <div class="card-header">
            {{reservation.venue.category}}
          </div>
          <div class="card-block">
            <h4 class="card-title">{{reservation.venue.name}} - {{reservation.venue.address}}</h4>
            <p class="card-text reservation-bio">{{reservation.venue.bio}}</p>
            <p class="card-text reservation-date">{{reservation.date | formatDate}}</p>
            <p class="card-text reservation-price"><span>Price: </span> <span class="booking-price-value">{{reservation.individualPrice}} $</span></p>
            <a class="btn btn-bwm" routerLink="/venues/{{reservation.venue._id}}">Go te Venue</a>
          </div>
          <div class="card-footer text-muted">
            Created {{reservation.createdAt | formatDate}}
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="reservations && reservations.length == 0" class="alert alert-warning">
      You have no reservations created go to venues section and reserves your place today.
      <a class="btn btn-bwm" routerLink="/venues">Available Venues</a>
    </div>
  </div>
</section>
