<section id="newVenue">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Create Venue</h1>
        <form (ngSubmit)="createVenue()" #venueForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input #email="ngModel" [(ngModel)]="newVenue.name" type="text" name="name" class="form-control" id="name"required>
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <input [(ngModel)]="newVenue.address" type="text" name="address" class="form-control" id="address" required>
          </div>

          <div class="form-group">
            <label for="dietaryCategory">Dietary Category</label>

            <select class="form-control" id="dietaryCategories" name="dietaryCategory" [(ngModel)]="newVenue.dietaryCategory">
              <option *ngFor="let category of venueCategories" [ngValue]="category">{{category}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="picture">Picture Url</label>
            <input [(ngModel)]="newVenue.picture" type="text" name="picture" id="picture" class="form-control">
          </div>

          <div class="form-group">
            <label for="seats">Number of Seats</label>
            <input [(ngModel)]="newVenue.seats" type="number" name="seats" class="form-control" min="1" id="seats">
          </div>

          <div class="form-group">
            <label for="bio">Bio</label>
            <textarea [(ngModel)]="newVenue.bio" rows="5" type="text" name="bio" class="form-control" id="bio"> </textarea>
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input [(ngModel)]="newVenue.price" type="number" name="price" class="form-control" id="price">
          </div>

          <div class="form-group">
            <label for="dayOfTheWeek">Day of the Week</label>
            <select class="form-control" id="dayOfTheWeek" name="dayOfTheWeek" [(ngModel)]="newVenue.dayOfTheWeek">
              <option *ngFor="let day of venueDays" [ngValue]="day">{{day}}</option>
            </select>
          </div>
          <button [disabled]="!venueForm.form.valid" type="submit" class="btn btn-bwm">Submit</button>
        </form>
        <!-- <div *ngIf="errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{error.detail}}
          </p>
        </div> -->
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of amazing healthy meals in reach of few clicks.</h2>
          <img src="assets/images/create-rental.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
