<div class="reservation">
  <h3 class="reservation-price">${{rental.dailyRate}} <span class="reservation-per-night">per night</span></h3>
  <hr>
  <ng-container *ngIf="auth.isAuthenticated()">
    <label>Dates</label>
      <input type="text" class="form-control daterangepicker-input" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)"
       />
    <div class="form-group">
      <label for="guests">Guests</label>
      <input [(ngModel)]="newReservation.guests" type="number" class="form-control" id="guests" aria-describedby="emailHelp" placeholder="">
    </div>
    <button [disabled]="!newReservation.startAt || !newReservation.endAt || !newReservation.guests" class="btn btn-bwm btn-confirm btn-block" (click)="openModal(reservationModal)">Reserve place now</button>
    <hr>
  </ng-container>
  <div *ngIf="!auth.isAuthenticated()" class="should-login-btn-container">
    <a class="btn btn-bwm btn-login" routerLink="/login">Login and book this place today</a>
  </div>

  <p class="reservation-note-title">People are interested into this house</p>
  <p class="reservation-note-text">
    More than 500 people checked this rental in last month.
  </p>
</div>

<!-- MODAL -->
<ng-template #reservationModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title title">Confirm Reservation <p>{{newReservation.startAt}} / {{newReservation.endAt}}</p></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <em>{{newReservation.days}}</em> nights /
    <em>{{rental.dailyRate}}$</em> per Night
    <p>Guests: <em>{{newReservation.guests}}</em></p>
    <p>Price: <em>{{newReservation.totalPrice}}$ </em></p>
    <p>Do you confirm your reservation for selected days?</p>
  </div>
  <div *ngIf="errors.length > 0" class="alert alert-danger modal-error">
    <p *ngFor="let error of errors">
      {{error.detail}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-bwm" (click)="confirmReservation(reservationModal)">Confirm</button>
    <button #closeBtn type="button" class="btn btn-bwm" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>



